/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-toolbar.footer-toolbar {
    background-color: #4A4A4A !important; 
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;  
}

mat-toolbar.footer-toolbar .container {
    width: 100%;
    text-align: center;
}

mat-toolbar.footer-toolbar p {
    margin: 0.5rem 0;
    font-size: 14px; 
} */